body {
  width: 1200px;
  height: 1024px;
  margin: 0 auto;

}

.wrap {
  width: 100%;
  height: 100%;

}

/* ---------------------------------------------- */
/* 헤더                                            */
/* ---------------------------------------------- */
.header__inner {
  width: 110px;
  height: 116px;
  background: var(--blue-600, #0074E9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button--category {
  width: 30px;
  height: 30px;
  background: url(../../assets/icon/hamburger.svg) no-repeat center;
}

.header__inner span {
  margin-top: 12px;
  color: white;
}


/* ---------------------------------------------- */
/* 내비게이션                                        */
/* ---------------------------------------------- */
.navigation {
  width: 540px;
  height: 500px;
  position: relative;
  box-shadow: 1px 4px 3px 0px var(--color-gray-300);
  border: 1px solid var(--color-gray-200);
}

.navigation::before {
  content: '';
  width: 540px;
  height: 500px;
  /* box-shadow: -1px 4px 3px 0px var(--color-gray-300); */
}


h4 {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.navigation ul {
  width: 180px;
  height: 500px;
  padding: 10px 0;

  font-family: "Noto Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.dep-2 {
  position: absolute;
  top: 0;
  left: 180px;
}

.dep-2::before {
  content: '';
  width: 180px;
  height: 500px;
  box-shadow: -2px 3px 3px 0px var(--color-gray-300);
  display: block;
  position: absolute;
  top: 0;
}
.dep-2::after {
  content: '';
  width: 180px;
  height: 500px;
  box-shadow: 2px 3px 3px 0px var(--color-gray-300);
  display: block;
  position: absolute;
  top: 0;
}

.dep-3 {
  position: absolute;
  top: 0;
  left: 180px;

}

.dep-3::after {

  /* content: '';
  width: 180px;
  height: 500px;
  box-shadow: 2px 3px 3px 0px red; */
}

.navigation li {
  /* outline: 1px solid black; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;

  width: 170px;
  height: 30px;
}

.dep-2 li {
  padding: 1px 0px 1px 20px;
}



.navigation i {
  margin-left: 20px;
  width: 20px;
  height: 20px;
  font-size: 20px;
}

.navigation a {
  display: block;
  padding: 5px 40px 5px 0px;
}

ul>li:first-child>a {
  color: var(--blue-600, #0074E9);

  font-family: "Noto Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

/* ul>li:first-child>a:not(.dep-3a) {
  background: url(../../assets/icon/more-right-active.svg) no-repeat center;
  width: 30px;
  height: 30px;
  
} */
ul>li:first-child .arrow::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 140px;
  background: url(../../assets/icon/more-right-active.svg) no-repeat center;
  width: 30px;
  height: 30px;
}

.dep-2a::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 140px;
  background: url(../../assets/icon/more-right-active.svg) no-repeat center;
  width: 30px;
  height: 30px;
}

.dep-1>li:last-child::after {
  content: '';
  width: 12px;
  height: 12px;
  background: url(../../assets/icon/new.svg) no-repeat;
  padding-right: 78px;
  position: absolute;
  top: auto;
  left: 80px;
}









/* .navigation__inner .dep-1 .dep-1a {
  display: block;
}
.navigation__inner .dep-1 > li:hover > ul {
  display: block;
}
.navigation__inner .dep-2 > li:hover > ul {
  display: block;
}



.navigation__inner .dep-2,
.navigation__inner .dep-3 {
  display: none;
} */









/* ---------------------------------------------- */
/* 메인 콘텐츠                                       */
/* ---------------------------------------------- */
/* 메인 콘텐츠 영역의 최소 높이 설정 */
.main {
  min-height: 52rem;
  /* outline: 1px solid rgb(92, 205, 135); */


}


/* ---------------------------------------------- */
/* 푸터                                            */
/* ---------------------------------------------- */


footer {
  outline: 1px solid darkgray;

  height: 349px;
}

footer ul {
  outline: 1px solid rgb(61, 50, 44);

  background: var(--color-gray-200);


  height: 40px;

}



footer .footer-info {
  outline: 1px solid rgb(159, 13, 192);
  height: 143px;
}





footer .copyRight {
  outline: 1px solid rgb(213, 231, 59);

  background: var(--color-gray-300);
  color: var(--color-white);
  height: 102px;
}