body {
  outline: 1px solid coral;

  width: 1200px;
  height: 1024px;


  margin: 0 auto;
}

/* ---------------------------------------------- */
/* 헤더                                            */
/* ---------------------------------------------- */


/* ---------------------------------------------- */
/* 내비게이션                                        */
/* ---------------------------------------------- */


/* ---------------------------------------------- */
/* 메인 콘텐츠                                       */
/* ---------------------------------------------- */
/* 메인 콘텐츠 영역의 최소 높이 설정 */
.main {
  min-height: 52rem;
  outline: 1px solid rgb(92, 205, 135);


}


/* ---------------------------------------------- */
/* 푸터                                            */
/* ---------------------------------------------- */


footer {
  outline: 1px solid darkgray;
  height: 349px;
}