body {
  width: 1200px;
  height: 1024px;
  margin: 0 auto;

}

.wrap {
  width: 100%;
  height: 100%;

}

/* ---------------------------------------------- */
/* 헤더                                            */
/* ---------------------------------------------- */
.header__inner {
  width: 110px;
  height: 116px;
  background: var(--blue-600, #0074E9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button--category {
  width: 30px;
  height: 30px;
  background: url(/assets/icon/hamburger.svg) no-repeat center;
}

.header__inner span {
  margin-top: 12px;
  color: white;
}


/* ---------------------------------------------- */
/* 내비게이션                                        */
/* ---------------------------------------------- */
.navigation {
  width: 540px;
  height: 500px;
  position: relative;
  box-shadow: 1px 4px 3px 0px var(--color-gray-300);
  border: 1px solid var(--color-gray-200);
}

.navigation::before {
  content: '';
  width: 540px;
  height: 500px;
  /* box-shadow: -1px 4px 3px 0px var(--color-gray-300); */
}


h4 {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.navigation ul {
  width: 180px;
  height: 500px;
  padding: 10px 0;

  font-family: "Noto Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.dep-2 {
  position: absolute;
  top: 0;
  left: 180px;
}

.dep-2::before {
  content: '';
  width: 180px;
  height: 500px;
  box-shadow: -2px 3px 3px 0px var(--color-gray-300);
  display: block;
  position: absolute;
  top: 0;
}

.dep-2::after {
  content: '';
  width: 180px;
  height: 500px;
  box-shadow: 2px 3px 3px 0px var(--color-gray-300);
  display: block;
  position: absolute;
  top: 0;
}

.dep-3 {
  position: absolute;
  top: 0;
  left: 180px;

}

.dep-3::after {

  /* content: '';
  width: 180px;
  height: 500px;
  box-shadow: 2px 3px 3px 0px red; */
}

.navigation li {
  /* outline: 1px solid black; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;

  width: 170px;
  height: 30px;
}

.dep-2 li {
  padding: 1px 0px 1px 20px;
}



.navigation i {
  margin-left: 20px;
  width: 20px;
  height: 20px;
  font-size: 20px;
}

.navigation a {
  display: block;
  padding: 5px 40px 5px 0px;
}

.navigation ul>li:first-child>a {
  color: var(--blue-600, #0074E9);

  font-family: "Noto Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

/* ul>li:first-child>a:not(.dep-3a) {
  background: url(/assets/icon/more-right-active.svg) no-repeat center;
  width: 30px;
  height: 30px;
  
} */
.navigation ul>li:first-child .arrow::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 140px;
  background: url(/assets/icon/more-right-active.svg) no-repeat center;
  width: 30px;
  height: 30px;
}

.dep-2a::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 140px;
  background: url(/assets/icon/more-right-active.svg) no-repeat center;
  width: 30px;
  height: 30px;
}

.dep-1>li:last-child::after {
  content: '';
  width: 12px;
  height: 12px;
  background: url(/assets/icon/new.svg) no-repeat;
  padding-right: 78px;
  position: absolute;
  top: auto;
  left: 80px;
}









/* .navigation__inner .dep-1 .dep-1a {
  display: block;
}
.navigation__inner .dep-1 > li:hover > ul {
  display: block;
}
.navigation__inner .dep-2 > li:hover > ul {
  display: block;
}



.navigation__inner .dep-2,
.navigation__inner .dep-3 {
  display: none;
} */









/* ---------------------------------------------- */
/* 메인 콘텐츠                                       */
/* ---------------------------------------------- */
/* 메인 콘텐츠 영역의 최소 높이 설정 */
.main {
  min-height: 52rem;
  /* outline: 1px solid rgb(92, 205, 135); */


}


/* ---------------------------------------------- */
/* 푸터                                            */
/* ---------------------------------------------- */


footer {
  outline: 1px solid darkgray;

  height: 349px;
  /* margin-top: 38px; */
}

footer ul {
  background: var(--color-gray-200);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--color-gray-800);
  text-align: center;
  font-family: "Noto Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;


}

footer ul li {

  width: 95px;
  height: 36px;
  letter-spacing: -0.3px;
  margin: 0 -6px;

}

footer ul>li:nth-of-type(1),
footer ul>li:nth-of-type(3),
footer ul>li:nth-of-type(10) {
  width: 75px;
}

footer ul>li:nth-of-type(2) {
  width: 111px;
}

footer ul>li:nth-of-type(4) {
  width: 91px;
}

footer ul>li:nth-of-type(5),
footer ul>li:nth-of-type(6) {
  width: 126px;
}

footer ul>li:nth-of-type(7) {
  width: 177px;
}

footer ul>li:nth-of-type(8) {
  width: 99px;
}

footer ul>li:nth-of-type(9) {
  width: 87px;
}

footer ul li a {
  display: block;
  padding: 11px 14px;
}

footer .footer-info {
  outline: 1px solid rgb(159, 13, 192);
  width: 1200px;
  height: 207px;
  /* margin: 32px 0; */

  display: flex;
  align-items: center;
  gap: 45px;
  position: relative;
  background: url(/assets/logo/logo-mono.svg) no-repeat left top;
}

.footer-info span {
  visibility: hidden;
  width: 239px;
}

.footer-info .address {
  line-height: 29px;
}


.footer-info .contact {
  width: 293px;
  line-height: 29px;


  /* border-right: 1px solid var(--color-gray-800); */
}

.footer-info .contact>strong::after {
  content: '';
  width: 1px;
  height: 12px;
  border-right: 1px solid var(--color-gray-800);
  padding-right: 13px;
  /* display: inline-block; */
}

.contact p {
  display: inline;
}

.contact a:nth-of-type(1) {
  color: var(--color-gray-800);

  font-family: "Noto Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.footer-info .notice {
  width: 282px;
  height: 143px;
  line-height: 20px;
}

.notice p {
  margin-top: 8px;
}

footer .copyRight {
  outline: 1px solid rgb(47, 52, 1);
  background: var(--color-gray-900);


  width: 1200px;
  height: 120px;
  /* 

  display: flex; */


}

.copyRight>div {
  outline: 1px solid rgb(237, 249, 128);

  font-family: "Noto Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;

  background: var(--color-gray-900);
  color: var(--color-white);
  width: 1020px;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 16px 90px;
  height: 102px;

}