*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font: 1.6rem/1.15 var(--font-family);
}

a {
  color: inherit;
  text-decoration: none;
}

em,
address {
  font-style: normal;
}

a img {
  vertical-align: middle;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

figure {
  margin: 0;
}

/* 블릿기호 초기화 */
dl,
ul,
li,
ol,
menu {
  list-style: none;
}

/* 제목 태그 초기화 */
h1,
h2,
h3,
h4,
h5,
h6 {

  font-size: 13px;
  font-weight: normal;
}
strong {
  color: var(--color-gray-800);
}

/* 테두리 초기화 */
img,
fieldset {
  border: 0 none;
}

select {
  border: none;
  border-radius: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* margin, padding */
.mt10 {
  margin-top: 10px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt25 {
  margin-top: 25px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mt35 {
  margin-top: 35px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mt45 {
  margin-top: 45px !important;
}

.mt50 {
  margin-top: 50px !important;
}